/*
	Name: Jacques Favre
    Date: Feb 26 2017
    Class: CGS1821.051
    Assignment: Week 7 
    Language: CSS3
    Purpose: Project2

    Includes: 
	
	color: #dce2ea; accent on table
	color: #eff2f5;  light blue background
	color: #282828;  very dark gray
	color: #030303; almost black
	color: #3d3d3d	: dark grey links when hoover
	color: #7e7e7e: sides
	
*/
/* reset selector */
* {
	margin: 0;
	padding: 0;
	}


/* the styles for the elements Verdana for header and table */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
 	max-width: 960px;	/*width on desktop */
	margin: 0 auto; /* margin top and bottom 0, and automatic on side, 30px make it centerd*/
	background-color: #dce2ea;  /*all body light blue*/
	}
	
 /* to make sides grey */
html {
	background-color: #7e7e7e ; 
	}
/* almost black header */
 header {
		background-color: #282828;
	} 

/* This the house/home logo as well as the header text, centerd above on desktop view, then on the right of the mobile menu on mobile device, see media query	 */
header img {
	float: right;
	max-width: 97%; 
	margin: .8em 1em 0.5em 0;
	vertical-align: middle;
}

/* the styles for the horizontal navigation menu in desktop mode, mobile menu is on ...slicknav.css */
/* the position right left of the navigation menu only 40% wide to keep the menu compact*/
	#nav_menu {
		padding: .1em 40% 0 0;   
	}
/* style to float each menu item(the list in html) to the right of each other */
	#nav_menu ul {
		clear: right;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	
/* (4 menu so 25% of the 40% see above #nav_menu 
Float left to have the menu on the left side of page*/	
	#nav_menu ul li {
		float: left;
		width: 25%;   
	}
/* 	style of the links in the menu */
	#nav_menu ul li a {
		display: block;
		text-align: center;
		padding: 1em 0;
		text-decoration: none;
		background-color: #282828;  /* backgroud menu almost black  */
		color: white; /*withe text link color*/
		font-weight: bold;
	}

/* second level navigation menu */

	#nav_menu ul ul { 
	display: none;
	position: absolute;
	top: 100%;
	}
	/* second level navigation menu, to drop down*/
	#nav_menu ul ul li {
		float: none;
	}
	
	/* 	 get the second level menu to display when hovering-Projects*/
	#nav_menu ul li:hover  >  ul {
	display: block;
	width: 100%;
	}
	 
/* 	 get the second level menu to display below Projects and not on top of, also extend black all th eway to right*/
	#nav_menu > ul::after {
		content: "";
		clear: both;
		display: block;
	} 
	
	#nav_menu ul li a:hover {
	background-color: #030303; /*almost black when hover*/
	}
	
	/*Hide projects list on desktop view, but allow it on tablet and phone see media query*/
		#projects { 
	display: none;
	}

/* the styles for the main section */
main {
	clear: left;
	font-family: Arial, Helvetica;
	width: 95%; /* (525/800)*100 = 65.625% minus 5% for margins back to full width for now , no aside*/ 
	min-height: 400px;
	padding: 0 2.5% 20px 2.5%; /* (20/800)*100 = 2.5%*/
	background-color: #eff2f5;  /*light blue to tone down back ground instead of white*/
		}


/* 	Image on index page */
	main img {  
	float: right;
	margin: 2.5% 2.5% 1.5em 2.5%;
	border: 1px solid #282828;
	border-radius: 10px;
	max-width: 95%; 
	}	
	
/* 	lightbox dior page */

	 /* thumbnail pics on dior page*/
	 	#pics1, #pics2, #pics3, #pics4, #pics5 { 
	 	float: left;
	 	margin: 2.5% 4.1%;
	  	max-width: 11.15%; 
	  	border-radius: 5px;
	  } 
	  
	  /*video on dior page*/
	video { 

	width: 95%;
    height: 95%;
    margin: 2.5% 2.5%;
	}


/* Phone image on contact page */
	#phone {
		float: left;
		max-width: 20%; 
		min-width: 60px;
		border: none;
		margin: 1em 5% 1em 2.5%;
	}
	
/* 	Blend links on desktop view, the change in cursor will show them, turned back to blue on tablet and mobile device, see media query */
	main a {
	text-decoration: none;
	color: #202020;/* color text link, do I need a dark blue*/
	}
	
	
	/*the style for the h1 within the main always 2.5% of screen size padding on both sides, regardless os screen size*/
	main h1{
	font-size: 180%;
	padding:  1em 2.5%;
	margin: 0;
	}
	
		/*the style for the h2 to make smaller within the main */
	main h2 {
	font-size: 170%;
	padding: .5em 2.5%; /*top right bottom left   */
	}
	
	main h3 {
	font-size: 130%;
	padding: .5em 2.5%;
	}

	
	main p {
		font-size: 120%;
		padding:  .5em 2.5%;
	}
	


/* h2 goes under phone image on conatct page	 */
	#contact {
		clear: left
	}
	
	

	
/* list on contacyt page */
	main ul {
	padding: 0 0 .25em 3.5em;
	}
	
	main li { 
	padding-bottom: .35em;
	font-size: 120%;
	}
	
/* 	style for term and privacy page ol li ol*/
	main ol {
		padding: 0 0 .25em 2.5em;
		font-size: 120%;
	}
	
	main ol li {
		font-size: 100%;
	}
	
main ol li ol {
		font-size: 100%;
	}

	main ul ul li { padding-top: .35em;} 

	/* for the link to blend in the list of contact page */	
	#nopadding {
		padding: 0;
	}

/* image on projects page, full width of each column */
		article img {
			max-width: 95%; 
	}		

	
		
/* style for table */
	figure, figcaption {
	margin: 0;
	padding: 0;
	}
/* style for table title*/
	figcaption {
	display: block;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 1em 0 1.5em 0;
	}
/* style for table itself, margin auto to center table on page, 0 on top, 2em bottom*/
	table {
	margin: 0 auto 2em;
	font-family: Verdana;
	font-size: 110%;
	}
/* padding for all cells */
	th, td {
	padding: .3em 1.5em .3em 1.5em;
	}

	
/* style for table head, color, position to left */
	thead {
	color: gray; 
	text-align: left; 
	}
	
/* style for stripes in table, first and even, to get ligne 2 and 4 */
	tbody tr:first-child {
	background-color: #dce2ea; 	
	}
	tbody tr:nth-child(even) {
	background-color: #dce2ea; 	
	}
	
/* style for bold font in table body */
	.bolder { 
	font-weight: bold;
	}
	
	/* the styles for the table footer text, centered*/	 	
	tfoot { 
	text-align: center;
	}

	/* 2 column on for article on projects page in dektop view only, fixed width*/
	
	#article2col {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	
/* 	added some padding above to align right and left colum on projects page, compensate for shorter p text	 */
	#jacques {
		padding: 1.25em 2.5% .5em 2.5%;
	}
	
/* 	Form formatting */

.centerMe {
	text-align: center;
}
/* 	to align label, inputs, text area 3 sets of format */
	form label {
	float: left;
	width: 5em;
	text-align: right;
	}
	form input, textarea { 
	margin-left: 1em;
	margin-bottom: .5em;
	border-radius: 5px;
	}
	option {
	margin-left: 1em;
	margin-bottom: .5em;
	}
		
/* 	space between fieldset and center	 */
	fieldset{ 
	margin: 0 2.5%1em 2.5%;
	}
	
/* 	to help align radio button */
	#hide1, #hide2, #hide3 {
		color: #eff2f5;
	}
	
/* 	to expand the how did you learn... */
	.long {
		width: 14em;
		text-align: left;
		margin-left: .25em;
		
	}
	/* submit button style, adjusted to be link to other page */
a#button {
	font-size: 110%;
	background-color: #282828;
	color: white;
	padding: .25em .7em .25em .7em;
	margin-top: 1.5em;

	
}

/* submit button position, had to add this class to work, would not work with id */
.button {
	text-align: center;
	margin-top: 1em;
} 
/* reset button style */
#reset {
	font-size: 90%;
	background-color: #282828;
	color: white;
	padding: .25em .5em;

}

/* the styles for the google Form to make it responsive*/		
/* the full width */
/* the wrapper, how the box will suround the video*/	
	.Wrapper {
		position: relative;
		padding-bottom: 130%; /* should be 56.25 but 52 works best to take out black lines top and bottom 9/16= 0.5625*/
		padding-top: 25px;
		height: 0;
	}
	
/* the styles for the iframe, position and size of video*/	
	
	.Wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
 		width: 100%;     /*Video 100% of main who is 90% of page */
		height: 100%;
	}


	
/* the style for the footer*/
footer {
	background-color: #282828;  /* to make footer almost black */
	clear: right;
	clear: left;
}	

/* the style for the footer text*/
footer p {
	text-align: center;
	color: #dce2ea; 	/*text light blue*/
	padding: 1em 0;
}
/* the style for privacy link in footer */
footer p a {
	color: #dce2ea; 
}

/* Media Query for tablet view*/


/* no mobile menu in desktop and tablet landscape view */
.slicknav_menu {
	display: none;
}

/* tablet landscape to standard 960 */
@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }

/* do not display projects list on desktop view, will show in mobile view */
	#projects { 
	display: none;
	}

/* only 1 column on smaller screen, tablet and molie devices */
	#article2col {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	/* 	removed the extra padding above to align right and left colum	 */
	#jacques {
		padding: .5em 2.5%;
	}
	
/* 	to display image next to text on projects page on tablet view */
	article img {
			max-width: 40%; 
	}
	
/* 	to improve position of pictures next to the text on projects page on tablet view*/
	article h2 { 
	clear: right;
	} 
}  

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 769px) {
	
/* 	switch off horizontal menu */
	#nav_menu {
		display: none;
	}
/* 	and swittch on mobile menu, actually display only 3 bars, no menu text, see ligne 25 on slicknav.css could benefit from work on position  */
	.slicknav_menu {
		display: block;
		background-color: #282828 !important;
	}
	
/* 	reduce header image title to float next to mobile menu */
	header img {
	float: right;
	max-width: 75% ; 
	}
	
	/* make link email me bigger on small  touch screen  and blue to show link*/	
	main a { 
	font-size: 125%; 
	color: blue;
	} 
	
	/* Shrink table on smaller screen*/
	table {
	font-size: 90%;
	}
	th, td {
	padding: .3em .75em .3em .75em;
	}
	
/* 	image next to text or embeded in tablet view on projects page	 */
		article img {
			max-width: 50%; 
	}

}


/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
	 
	 	 /* adjust table size and hide first column on table project page on portrait view, still there on landscape view*/

	 	th, td {
		padding: .3em .5em .3em .5em;
		}
		th:first-child {
		display: none; 
		}
		tbody td:first-child {
		display: none; 
		}	

/* 	image above text and full width on project page in mobile device view			 */
	article img {
			max-width: 95%; 
	}
	
	
		footer p {
font-size: 70%;
}	
} 	

